body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient(#696969, #292929);
  font-family: "Grape Nuts", cursive;
  font-family: "Open Sans", sans-serif;
}

.divisorbase {
  background-color: aliceblue;
  width: 720px;
  margin: 80px auto 0px auto;
  padding: 25px;
  border-radius: 15px;
}
